
        <div  class="list-group-item clearfix"  >
          <div [class]="getMessagePosition(message.owner)" >
            <h4 class="list-group-item-heading">{{message.owner}}</h4>
            <p class="list-group-item-text">{{message.message}}</p>
            <app-button *ngFor="let button of message.buttonList" [button]="button" 
                (messageAdded)="onMessageAdded(button.value)">
            </app-button>
          </div>
          <span [class]="getMessagePosition(message.owner)">
                <img [src]="getImage(message.owner)"  [alt]="message.owner"  class="img-responsive" style="max-height: 40px ; max-width: 40px">
              </span>
            </div>
      